@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNovaBold.woff2') format('woff2'),
       url('../fonts/ProximaNovaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
