doctype html
head
  title Авторизация
body
  form(method='post', action='/api/user/auth')
    input(type='text', name='login', placeholder='Логин')
    input(type='password', name='password', placeholder='Пароль')
    input(type='submit')

  - if (message) {
      p= message
  - }